.cart-widget {
    display: inline-block;
    background-color: black;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-decoration: none;
    i {
        margin-right: .5em;
    }
}