.container {
  @media (min-width: 1024px) {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 1023px) {
    padding: 0 16px;
  }
}

#root > .container {
  margin-top: 2em;
}

body {
  background-color: #f2f7f5;
}

main {
  margin-top: 2em;
}